@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");

body,
html,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

.container {
  position: absolute;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: absolute;
  top: 60vh;
  left: 2em;

  h1 {
    font-size: 5rem;
    font-weight: 700;
    color: #fff;
  }
  h2 {
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
  }
}

.sofa {
  // pointer-events: none;
  font-size: 1em;
}

.light {
  // pointer-events: none;
  font-size: 1em;
}

.painting {
  // pointer-events: none;
  font-size: 1em;
}
